/* line 3, templates/static/projeto_tcc/scss/style.scss */
body {
  background-color: #EBEBDE; }

/* line 7, templates/static/projeto_tcc/scss/style.scss */
#nav-bar {
  background-color: #6495ED;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 13, templates/static/projeto_tcc/scss/style.scss */
  #nav-bar li {
    float: left; }
    /* line 15, templates/static/projeto_tcc/scss/style.scss */
    #nav-bar li a {
      display: block;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      /* line 21, templates/static/projeto_tcc/scss/style.scss */
      #nav-bar li a:hover {
        color: #ecebeb;
        transition: color 0.5s ease; }
