/* line 4, templates/static/projeto_tcc/scss/style.scss */
#nav-bar {
  background-color: #3b1800;
  color: #ddd8d8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 11, templates/static/projeto_tcc/scss/style.scss */
  #nav-bar li {
    float: left; }
    /* line 13, templates/static/projeto_tcc/scss/style.scss */
    #nav-bar li a {
      display: block;
      color: #3b1800;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
  /* line 21, templates/static/projeto_tcc/scss/style.scss */
  #nav-bar:hover {
    background-color: #ecebeb; }
