/* line 3, templates/static/projeto_tcc/scss/style.scss */
#nav-bar {
  background-color: #6ec8be;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  /* line 9, templates/static/projeto_tcc/scss/style.scss */
  #nav-bar li {
    float: left; }
    /* line 11, templates/static/projeto_tcc/scss/style.scss */
    #nav-bar li a {
      display: block;
      color: #333;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
  /* line 19, templates/static/projeto_tcc/scss/style.scss */
  #nav-bar:hover {
    background-color: #ecebeb; }
