$font-primary: 'Poppins',Arial, sans-serif;
$primary: #5c5c59;
// $primary: #b1a594;


a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
button {
	transition: .3s all ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}


.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.wrap{
	// border: 1px solid rgba(0,0,0,.1);
	padding: 30px 30px 10px 30px;
	background: $primary;
	border-radius: 4px;
}

//CHECKBOX
ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
  li{
  	display: block;
  	label{
			display: inline-block;
	    background-color: rgba(255, 255, 255, .9);
	    // border: 1px solid rgba(0, 0, 0,.1);
	    color: lighten(#0d0d0d,20%);
	    font-size: 18px;
	    border-radius: 4px;
	    white-space: nowrap;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    -webkit-tap-highlight-color: transparent;
	    transition: all .3s;
	    display: block;

  	}
  }
}

ul.ks-cboxtags li label {
  padding: 10px 20px;
  cursor: pointer;
  &::before{
  	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    font-weight: 900;
    font-size: 24px;
    padding: 0;
    margin-right: 15px;
    content: "\f1db";
    color: rgba(0,0,0,.2);
    transition: transform .3s ease-in-out;
    position: absolute;
    right: 50px;
    margin-top: -5px;
    // @include transition(.3s);
  }
}


ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f058";
  transition: transform .3s ease-in-out;
  color: $primary;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.save-button {
  appearance: none;
  background-color: $primary;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  &:focus:not(:focus-visible):not(.focus-visible) {
		box-shadow: none;
		outline: none;
	}
	
  &:hover {
	  background-color: #666655;
 }

  &:focus {
	  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
	  outline: none;
	}
	
	&:disabled {
		background-color: #94d3a2;
		border-color: rgba(27, 31, 35, .1);
		color: rgba(255, 255, 255, .8);
		cursor: default;
	}
	
	&:active {
		background-color: $primary;
		box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
	}
}


//LOGIN

